<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>
<body>
    <p>你被分配到：{{ '实验组' if group == 'experiment' else '控制组'}} 组</p>  <!-- 显示用户被分配到的组别（控制组或实验组） -->
    
    {% if group == 'control' %}
    <p>亲爱的参与者，感谢您参与本次字谜任务实验。在这个实验中，您的任务是解决一系列字谜问题。为了保证实验的公正性，所有参与者的任务难度是固定的，与您的表现无关。无论您答对或答错，任务的难度都不会发生变化。我们希望您尽量在规定的时间内完成任务，享受这个过程，并尝试提升自己解谜的能力。祝您好运！</p>
    {% elif group == 'experiment' %}
    <p>亲爱的参与者，感谢您参与本次字谜任务实验。在这个实验中，我们接入了一种AI辅助的自适应系统，它会根据您在任务中的表现来调整难度。如果您回答正确，系统会逐渐增加任务的挑战性，以帮你不断提升解决字谜的能力；如果您回答错误，系统将适当降低难度，以确保您能够顺利完成任务，避免过度挑战给您带来压力。

        本实验的意义在于通过您的参与和反馈，帮助我们进一步优化和提升这一AI辅助自适应系统在实际应用中的表现。通过让系统根据每位参与者的表现同台调整任务难度，我们能够更好地理解不同用户的需求，从而改进系统的智能性和个性化算法。这不仅有助于提升参与者的体验，同时也为未来的系统优化提供了宝贵的数据和反馈。

        接入自适应系统的是为了让每一位参与者都能够在最佳的挑战水平下进行实验，最大程度地保持任务的趣味性和参与感。无论您的表现如何，系统都会根据您的实际情况调整任务内容，让您始终感受到适合自己的挑战。请尽力发挥自己的最佳水平，享受这个过程，祝您体验愉快，挑战成功！</p>
    {% endif %}
    
    <h1>You are in the group where the words puzzles are adjusted by your task performance. Do you think you will do better compared to the other groups? 
        您所在的小组的字谜题目会根据您的任务表现进行调整，您认为自己在实验中会比其他组做得更好吗？</h1>
    <form action="{{ url_for('survey') }}" method="post">
        <label for="likert_scale">1 - 完全不同意, 7 - 完全同意</label><br>
        <input type="radio" name="likert_scale" value="1"> 1
        <input type="radio" name="likert_scale" value="2"> 2
        <input type="radio" name="likert_scale" value="3"> 3
        <input type="radio" name="likert_scale" value="4"> 4
        <input type="radio" name="likert_scale" value="5"> 5
        <input type="radio" name="likert_scale" value="6"> 6
        <input type="radio" name="likert_scale" value="7"> 7
        <br><br>
    <h2>Do you think the difficulty the puzzles will change as you answer more questions correctly or incorrectly?
        您认为字谜题目的难度会随着您答对或答错题目而发生变化吗？
    </h2>
        <label for="difficulty_change">1 - 完全不同意, 7 - 完全同意</label><br>
        <input type="radio" name="difficulty_change" value="1"> 1
        <input type="radio" name="difficulty_change" value="2"> 2
        <input type="radio" name="difficulty_change" value="3"> 3
        <input type="radio" name="difficulty_change" value="4"> 4
        <input type="radio" name="difficulty_change" value="5"> 5
        <input type="radio" name="difficulty_change" value="6"> 6
        <input type="radio" name="difficulty_change" value="7"> 7
        <br><br>

        <input type="submit" value="提交">
    </form>
</body>
</html>
